In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
saldata=pd.read_csv("E:/Ravi_ExcelR_Assignments/SVM/SalaryData_Test(1).csv")
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [3]:
saldata.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [4]:
from sklearn import preprocessing

In [5]:
label_encoder = preprocessing.LabelEncoder()
saldata['Salary']= label_encoder.fit_transform(saldata['Salary'])

In [6]:
label_encoder = preprocessing.LabelEncoder()
saldata['workclass']= label_encoder.fit_transform(saldata['workclass'])

In [7]:
label_encoder = preprocessing.LabelEncoder()
saldata['education']= label_encoder.fit_transform(saldata['education'])

In [8]:
label_encoder = preprocessing.LabelEncoder()
saldata['maritalstatus']= label_encoder.fit_transform(saldata['maritalstatus'])

In [9]:
label_encoder = preprocessing.LabelEncoder()
saldata['occupation']= label_encoder.fit_transform(saldata['occupation'])

In [10]:
label_encoder = preprocessing.LabelEncoder()
saldata['relationship']= label_encoder.fit_transform(saldata['relationship'])

In [11]:
label_encoder = preprocessing.LabelEncoder()
saldata['race']= label_encoder.fit_transform(saldata['race'])

In [12]:
label_encoder = preprocessing.LabelEncoder()
saldata['sex']= label_encoder.fit_transform(saldata['sex'])

In [13]:
label_encoder = preprocessing.LabelEncoder()
saldata['native']= label_encoder.fit_transform(saldata['native'])

In [15]:
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,0
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,0
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,0
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,0
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,1

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(saldata,test_size = 0.3, random_state=1)

In [1]:
#Note: as the data is too big my pc config not able to support so tested with 500 data sets

In [17]:
train_X = train.iloc[0:500,0:13]
train_y = train.iloc[0:500,13]
test_X  = test.iloc[0:500,0:13]
test_y  = test.iloc[0:500,13]

In [18]:
#kernal = linear
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.784

In [19]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(train_X,train_y)
pred_test_poly = model_poly.predict(test_X)
np.mean(pred_test_poly==test_y)

0.776

In [20]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(train_X,train_y)
pred_test_rbf = model_rbf.predict(test_X)

np.mean(pred_test_rbf==test_y)

0.774

In [21]:
array = saldata.values

In [22]:
X = saldata.iloc[0:500,0:13]
Y = saldata.iloc[0:500,13]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [ ]:
#Grid Search CV
clf = SVC()
param_grid = [{'kernel':['linear'],'gamma':[5,10,0.5],'C':[11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)