In [31]:
import pandas as pd
saldata = pd.read_csv("E:/Ravi_ExcelR_Assignments/Naive Bayes/SalaryData_Train.csv") 
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
saldata.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [32]:
from sklearn import preprocessing

In [33]:
label_encoder = preprocessing.LabelEncoder()
saldata['Salary']= label_encoder.fit_transform(saldata['Salary'])

In [34]:
label_encoder = preprocessing.LabelEncoder()
saldata['workclass']= label_encoder.fit_transform(saldata['workclass'])

In [35]:
label_encoder = preprocessing.LabelEncoder()
saldata['education']= label_encoder.fit_transform(saldata['education'])

In [36]:
label_encoder = preprocessing.LabelEncoder()
saldata['maritalstatus']= label_encoder.fit_transform(saldata['maritalstatus'])

In [37]:
label_encoder = preprocessing.LabelEncoder()
saldata['occupation']= label_encoder.fit_transform(saldata['occupation'])

In [38]:
label_encoder = preprocessing.LabelEncoder()
saldata['relationship']= label_encoder.fit_transform(saldata['relationship'])

In [39]:
label_encoder = preprocessing.LabelEncoder()
saldata['race']= label_encoder.fit_transform(saldata['race'])

In [40]:
label_encoder = preprocessing.LabelEncoder()
saldata['sex']= label_encoder.fit_transform(saldata['sex'])

In [41]:
label_encoder = preprocessing.LabelEncoder()
saldata['native']= label_encoder.fit_transform(saldata['native'])

In [42]:
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37,0
30157,40,2,11,9,2,6,0,4,1,0,0,40,37,1
30158,58,2,11,9,6,0,4,4,0,0,0,40,37,0
30159,22,2,11,9,4,0,3,4,1,0,0,20,37,0
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37,1

In [43]:
x = saldata.iloc[:,0:13]
y = saldata.iloc[:,13]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=9)

In [46]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [47]:
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(X_train,y_train)

GaussianNB()

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
y_pred = classifier_gb.predict(X_test) # store the prediction data

In [50]:
accuracy_score(y_test,y_pred) # calculate the accuracy

0.7878335819658545

In [51]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(X_train,y_train)

MultinomialNB()

In [52]:
y_pred = classifier_mb.predict(X_test)# store the prediction data

In [53]:
accuracy_score(y_test,y_pred) # calculate the accuracy

0.7689375103596884