In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
saldata=pd.read_csv("E:/Ravi_ExcelR_Assignments/SVM/SalaryData_Train(1).csv")
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
saldata.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [5]:
from sklearn import preprocessing

In [6]:
label_encoder = preprocessing.LabelEncoder()
saldata['Salary']= label_encoder.fit_transform(saldata['Salary'])

In [7]:
label_encoder = preprocessing.LabelEncoder()
saldata['workclass']= label_encoder.fit_transform(saldata['workclass'])

In [8]:
label_encoder = preprocessing.LabelEncoder()
saldata['education']= label_encoder.fit_transform(saldata['education'])

In [9]:
label_encoder = preprocessing.LabelEncoder()
saldata['maritalstatus']= label_encoder.fit_transform(saldata['maritalstatus'])

In [10]:
label_encoder = preprocessing.LabelEncoder()
saldata['occupation']= label_encoder.fit_transform(saldata['occupation'])

In [11]:
label_encoder = preprocessing.LabelEncoder()
saldata['relationship']= label_encoder.fit_transform(saldata['relationship'])

In [12]:
label_encoder = preprocessing.LabelEncoder()
saldata['race']= label_encoder.fit_transform(saldata['race'])

In [13]:
label_encoder = preprocessing.LabelEncoder()
saldata['sex']= label_encoder.fit_transform(saldata['sex'])

In [14]:
label_encoder = preprocessing.LabelEncoder()
saldata['native']= label_encoder.fit_transform(saldata['native'])

In [15]:
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,12,2,12,5,4,0,0,0,38,37,0
30157,40,2,11,9,2,6,0,4,1,0,0,40,37,1
30158,58,2,11,9,6,0,4,4,0,0,0,40,37,0
30159,22,2,11,9,4,0,3,4,1,0,0,20,37,0
30160,52,3,11,9,2,3,5,4,0,15024,0,40,37,1

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
train,test = train_test_split(saldata,test_size = 0.3, random_state=1)

In [18]:
#Note: as the data is too big my pc config not able to support so tested with 500 data sets

In [19]:
train_X = train.iloc[0:500,0:13]
train_y = train.iloc[0:500,13]
test_X  = test.iloc[0:500,0:13]
test_y  = test.iloc[0:500,13]

In [20]:
#kernal = linear
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_y)
pred_test_linear = model_linear.predict(test_X)

np.mean(pred_test_linear==test_y)

0.802

In [21]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(train_X,train_y)
pred_test_poly = model_poly.predict(test_X)
np.mean(pred_test_poly==test_y)

0.782

In [22]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(train_X,train_y)
pred_test_rbf = model_rbf.predict(test_X)

np.mean(pred_test_rbf==test_y)

0.788

In [23]:
array = saldata.values

In [24]:
X = saldata.iloc[0:100,0:13]
Y = saldata.iloc[0:100,13]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [ ]:
#Grid Search CV
clf = SVC()
param_grid = [{'kernel':['linear'],'gamma':[5,10,0.5],'C':[11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)