In [27]:
import pandas as pd
saldata = pd.read_csv("E:/Ravi_ExcelR_Assignments/Naive Bayes/SalaryData_Test.csv") 
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [28]:
saldata.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [29]:
from sklearn import preprocessing

In [30]:
label_encoder = preprocessing.LabelEncoder()
saldata['Salary']= label_encoder.fit_transform(saldata['Salary'])

In [31]:
label_encoder = preprocessing.LabelEncoder()
saldata['workclass']= label_encoder.fit_transform(saldata['workclass'])

In [32]:
label_encoder = preprocessing.LabelEncoder()
saldata['education']= label_encoder.fit_transform(saldata['education'])

In [33]:
label_encoder = preprocessing.LabelEncoder()
saldata['maritalstatus']= label_encoder.fit_transform(saldata['maritalstatus'])

In [34]:
label_encoder = preprocessing.LabelEncoder()
saldata['occupation']= label_encoder.fit_transform(saldata['occupation'])

In [35]:
label_encoder = preprocessing.LabelEncoder()
saldata['relationship']= label_encoder.fit_transform(saldata['relationship'])

In [36]:
label_encoder = preprocessing.LabelEncoder()
saldata['race']= label_encoder.fit_transform(saldata['race'])

In [37]:
label_encoder = preprocessing.LabelEncoder()
saldata['sex']= label_encoder.fit_transform(saldata['sex'])

In [38]:
label_encoder = preprocessing.LabelEncoder()
saldata['native']= label_encoder.fit_transform(saldata['native'])

In [39]:
saldata

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,0
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,0
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,0
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,0
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,1

In [40]:
x = saldata.iloc[:,0:13]
y = saldata.iloc[:,13]

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=9)

In [43]:
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [44]:
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(X_train,y_train)

GaussianNB()

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
y_pred = classifier_gb.predict(X_test) # store the prediction data

In [47]:
accuracy_score(y_test,y_pred) # calculate the accuracy

0.8014608233731739

In [48]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(X_train,y_train)

MultinomialNB()

In [49]:
y_pred = classifier_mb.predict(X_test)# store the prediction data

In [50]:
accuracy_score(y_test,y_pred) # calculate the accuracy

0.7779991146525012